<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../icon/travel_icon.png" type="image/x-icon">
    <title>侠客行旅游网</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/element.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
    <link rel="stylesheet" href="../css/element.css">
    <link rel="stylesheet" href="../css/scenery-detail.css">
</head>
<body>
<div id="page1">
    <el-container >
        <el-header>
            <el-row>
                <el-col :span="2"><div class="grid-content">
                    <el-image src="../icon/travel_icon.png" style="height: 70px"/>
                </div></el-col>
                <el-col :span="3"><div class="grid-content">
                    <h1 style="font-family: Hiragino Sans GB;font-size: 23px;font-style:italic;letter-spacing: 4px">侠客行旅游网</h1>
                </div></el-col>
                <el-col :span="9"><div class="grid-content"></div></el-col>
                <el-col :span="5"><div class="grid-content"></div> </el-col>
                <el-col :span="5"></el-col>
                <div class="grid-content" style="float: right;margin-right: 70px;display:flex;">
                    <div style="font-size: 14px;color: #545c64;margin-right: 5px;width: 6em;overflow: hidden">
                        {{userToken.name}}</div>
                    <el-dropdown @command="handleCommand" v-if="isLogin" style="margin-top: 10px">
                        <el-avatar icon="el-icon-user-solid" style="float: left" :src="userToken.headUrl"></el-avatar>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="center" icon="el-icon-s-custom">个人中心</el-dropdown-item>
                            <el-dropdown-item command="message" icon="el-icon-chat-dot-square">
                                <el-badge :value="noRead" :max="99" class="item">
                                    回复
                                </el-badge>
                            </el-dropdown-item>
                            <el-dropdown-item command="logout" icon="el-icon-switch-button">退出</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <div  style="margin-bottom: 10px;" v-else>
                        <el-link type="primary" href="/site/login.html" :underline="false" style="margin-bottom: 30px">登录</el-link>
                        <el-link type="primary" href="/site/register.html" :underline="false" style="margin-bottom: 30px">注册</el-link>
                    </div>
                </div>
            </el-row>
        </el-header>
        <el-main>
            <div class="main-div">
                <el-card>
                    <div style="display: flex;height: 360px;margin-bottom: 30px">
                        <!--走马灯-->
                        <div style="flex: 3">
                            <el-carousel :interval="3000"  height="360px">
                                <el-carousel-item v-for="(item,index) in scenery.urls" >
                                    <el-image :src="item" :fit="cover">
                                        <div slot="placeholder" class="image-slot">
                                            加载中<span class="dot">...</span>
                                        </div>
                                    </el-image>
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                        <!--风景名，票价等-->
                        <div style="flex: 4;background-color: #F0F9EBFF">
                            <h1 class="title">{{scenery.name}}</h1>
                            <div class="description">{{scenery.description}}</div>
                            <div align="left" style="margin-left: 15px;margin-bottom: 11px">
                                <span style="font-size: 16px">等级： </span>
                                <span class="grade" v-if="scenery.grade === 0">无等级</span>
                                <span class="grade" v-else-if="scenery.grade === 1">A A A</span>
                                <span class="grade" v-else-if="scenery.grade === 2">A A A A</span>
                                <span class="grade" v-else-if="scenery.grade === 3">A A A A A</span>
                            </div>
                            <div align="left" style="display: flex;margin-left: 15px;width: 500px;margin-bottom: 11px">
                                <div style="font-size: 16px;flex: 1">评分： </div>
                                <el-rate
                                        v-model="scenery.score"
                                        disabled
                                        show-score
                                        text-color="#ff9900"
                                        score-template="{value}"
                                        style="flex: 8;margin-left: -7px">
                                </el-rate>
                            </div>
                            <div align="left" style="margin-bottom: 11px;margin-left: 14px">
                                <span class="el-icon-location-information"/>
                                <span style="font-size: 14px;color: #606266;margin-left: 3px">{{scenery.address.province+scenery.address.city+scenery.address.country}}</span>
                            </div>
                            <div class="detail_c">
                                <div class="price_b">
                                <span class="orange" v-if="scenery.ticketPrice===0">
                                    <b style="font-size: 30px;margin: 0px 4px">免费</b>
                                </span>
                                    <span class="orange" v-else>
                                    ¥<b style="font-size: 34px;margin: 0px 4px">{{scenery.ticketPrice}}</b>
                                </span>
                                </div>
                                <el-button type="primary" round style="background-color: #f63;border-color: white;margin-bottom: 5px" @click="dialogTableVisible = true">立即购买</el-button>
                            </div>
                        </div>
                    </div>

                    <div style="background-color: #F0F9EBFF;padding-top: 20px;width: 85%">
                        <div style="width: 400px;display: flex;margin-top: 10px">
                            <a href="#catalog1" class="bar"><div>预订须知</div></a>
                            <a href="#catalog2" class="bar"><div>景点简介</div></a>
                            <a href="#catalog3" class="bar"><div>游客点评</div></a>
                        </div>
                        <el-divider></el-divider>
                        <div id="catalog1" style="text-align: left">
                            <div style="margin-top: 10px">
                                <i class="el-icon-reading" style="font-size: 36px;color: #66b1ff"></i><span style="font-size: 20px;margin-left: 10px;color: #66b1ff">预定须知</span>
                            </div>
                            <el-divider></el-divider>
                            <div style="font-size: 14px;color: #666;display: flex">
                                <div style="flex: 2;border-right: 2px solid #DCDFE6;color: #999;font-weight: bold;" align="center">{{scenery.name}}预定说明</div>
                                <div style="flex: 10;padding: 10px">
                                    {{scenery.attention}}
                                </div>
                            </div>
                        </div>
                        <el-divider></el-divider>
                        <div style="text-align: left" id="catalog2">
                            <div style="margin-top: 10px">
                                <i class="el-icon-reading" style="font-size: 36px;color: #66b1ff"></i><span style="font-size: 20px;margin-left: 10px;color: #66b1ff">景点简介</span>
                            </div>
                            <el-divider></el-divider>
                            <div style="font-size: 14px;color: #666;padding: 15px">
                                {{scenery.profile}}
                            </div>
                        </div>
                        <el-divider></el-divider>
                        <div style="text-align: left" id="catalog3">
                            <div style="margin-top: 10px">
                                <i class="el-icon-reading" style="font-size: 36px;color: #66b1ff"></i><span style="font-size: 20px;margin-left: 10px;color: #66b1ff">游客点评</span>
                            </div>
                            <el-divider></el-divider>
                            <el-card :body-style="{ padding: '0px' }"  v-for="item in scenery.comment">
                                <div>
                                    <div style="display: flex">
                                        <div style="flex: 1">
                                            <el-avatar style="float: left;margin-top: 4px;margin-left: 10px" :src="item.headUrl" :size="40"></el-avatar>
                                        </div>
                                        <div style="flex: 3;">
                                            <p style="font-size: 14px;color: #4299ce;padding: 0px 15px;overflow: hidden;white-space: nowrap;width: 170px;text-overflow: ellipsis">{{item.name}}</p>
                                            <el-rate
                                                    v-model="item.score"
                                                    disabled
                                                    show-text>
                                            </el-rate>
                                        </div>
                                        <div style="flex: 2">
                                            <div class="time" style="margin-top: 18px">{{item.createTime}}</div>
                                        </div>
                                    </div>
                                    <p style="padding: 10px 10px">{{item.content}}</p>

                                </div>
                            </el-card>
                        </div>
                    </div>
                    <!--买票对话框-->
                    <el-dialog title="购票信息" :visible.sync="dialogTableVisible">
                        <h1 style="margin-bottom: 30px">{{scenery.name}}</h1>
                        <div class="price_b" style="margin:0 auto;margin-bottom: 30px;color: #FF6633FF">
                        <span class="orange" v-if="scenery.ticketPrice===0">
                            <b style="font-size: 30px;margin: 0px 4px">免费</b>
                        </span>
                            <span class="orange" v-else>
                            ¥<b style="font-size: 34px;margin: 0px 4px">{{scenery.ticketPrice}}</b>
                        </span>
                        </div>
                        <el-col :span="3">
                            选择日期
                        </el-col>
                        <el-col :span="1">
                        </el-col>
                        <el-col :span="20" style="margin-bottom: 30px">
                            <el-date-picker type="date" placeholder="选择日期" v-model="date" style="width: 100%;"></el-date-picker>
                        </el-col>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogTableVisible = false">取 消</el-button>
                            <el-button type="primary" @click="buyTicket">确 定</el-button>
                        </div>
                    </el-dialog>
                </el-card>

            </div>




        </el-main>
        <el-drawer
                title="消息中心"
                :visible.sync="drawer"
                direction="ltr"
                size="40%">
            <el-table
                    :data="suggestions"
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="序号"
                        width="80"
                ></el-table-column>
                <el-table-column
                        prop="title"
                        label="标题"
                        width="200"
                ></el-table-column>

                <el-table-column
                        prop="reply.status"
                        label="状态"
                        width="80"
                        sortable
                >
                    <template slot-scope="scope">
                        <el-tag :type="scope.row.reply.status  ? 'success' : 'danger'" disable-transitions>
                            {{scope.row.reply.status ? '已读' : '未读' }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="投诉时间"
                        width="180"
                        sortable
                ></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-popover
                                ref="popover"
                                placement="right"
                                width="600"
                                trigger="click">
                            <el-descriptions class="margin-top" title="投诉详情" :column="3" :size="size" border>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-user"></i>
                                        用户名
                                    </template>
                                    {{checkedSuggestion.name}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-mobile-phone"></i>
                                        手机号
                                    </template>
                                    {{checkedSuggestion.phone}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        类型
                                    </template>
                                    <el-tag :type="checkedSuggestion.type  ? 'success' : 'danger'" disable-transitions>
                                        {{checkedSuggestion.type ? '建议' : '投诉' }}
                                    </el-tag>
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-tickets"></i>
                                        {{(checkedSuggestion.type ? '建议' : '投诉')+'事项'}}
                                    </template>
                                    {{checkedSuggestion.options}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        状态
                                    </template>
                                    <el-tag :type="checkedSuggestion.status  ? 'success' : 'danger'" disable-transitions>
                                        {{checkedSuggestion.status ? '已处理' : '未处理' }}
                                    </el-tag>
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        投诉时间
                                    </template>
                                    {{checkedSuggestion.createTime}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-chat-dot-square"></i>
                                        {{(checkedSuggestion.type ? '建议' : '投诉')+'内容'}}
                                    </template>
                                    {{checkedSuggestion.content}}
                                </el-descriptions-item>
                            </el-descriptions>
                            <el-descriptions class="margin-top" title="回复信息" :column="1" :size="size" v-if="checkedSuggestion.reply!=null" border>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-chat-dot-square"></i>
                                        回复内容
                                    </template>
                                    {{checkedSuggestion.reply.content}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        回复时间
                                    </template>
                                    {{checkedSuggestion.reply.createTime}}
                                </el-descriptions-item>
                            </el-descriptions>
                            <el-button
                                    size="mini"
                                    type="primary"
                                    plain
                                    slot="reference"
                                    @click="viewReply(scope.$index, scope.row )">查看</el-button>
                        </el-popover>

                    </template>
                </el-table-column>
            </el-table>
        </el-drawer>
    </el-container>


</div>
</body>
<script type="text/javascript" src="../js/scenery-detail.js"></script>
</html>