<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../icon/travel_icon.png" type="image/x-icon">
    <title>侠客行旅游网</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/element.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
    <link rel="stylesheet" href="../css/element.css">
    <link rel="stylesheet" href="../css/setting.css">
</head>
<body>
<div id="page1">
    <el-row class="tac">
        <el-col :span="4">
            <h3 style="text-align: center">个人中心</h3>
            <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo"
                    @select="handleMenuSelect">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-setting"></i>
                        <span>账户设置</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1">修改个人信息</el-menu-item>
                        <el-menu-item index="1-2">修改头像</el-menu-item>
                        <el-menu-item index="1-3">修改密码</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-menu-item index="2">
                    <i class="el-icon-s-order"></i>
                    <span slot="title">我的订单</span>
                </el-menu-item>
                <el-menu-item index="3">
                    <i class="el-icon-document"></i>
                    <span slot="title">我的攻略</span>
                </el-menu-item>


            </el-menu>
        </el-col>
        <el-col :span="16">
            <div style="margin-left: 50px" v-if="selectMenu==='1-1'">
                <div style="display: flex;margin-top: 50px;margin-bottom: 20px">
                    <div style="flex: 1;line-height: 40px">姓名</div>
                    <div style="flex: 14">
                        <el-input
                                placeholder="请输入姓名"
                                v-model="userInfo.name"
                                clearable>
                        </el-input>
                    </div>

                </div>
                <div style="display: flex;margin-bottom: 20px">
                    <div style="flex: 1;">性别</div>
                    <div style="flex: 14">

                            <el-radio v-model="userInfo.sex" :label="1">男</el-radio>
                            <el-radio v-model="userInfo.sex" :label="0">女</el-radio>

                    </div>

                </div>
                <div style="display: flex;margin-bottom: 20px">
                    <div style="flex: 1;line-height: 40px">年龄</div>
                    <div style="flex: 14">
                        <el-input
                                placeholder="请输入年龄"
                                v-model="userInfo.age"
                                clearable>
                        </el-input>
                    </div>

                </div>
                <div style="display: flex;margin-bottom: 20px">
                    <div style="flex: 1;line-height: 40px">地址</div>
                    <div style="flex: 14">
                        <el-cascader
                                v-model="checkedAddress"
                                :options="address"
                                :props="{ expandTrigger: 'hover' }"
                                @change="handleSelectAddress"
                                filterable></el-cascader>
                    </div>
                </div>
                <div style="display: flex;margin-bottom: 20px">
                    <div style="flex: 1;line-height: 40px">手机号</div>
                    <div style="flex: 14">
                        <el-input
                                placeholder="请输入手机号"
                                v-model="userInfo.phone"
                                clearable>
                        </el-input>
                    </div>
                </div>
                <div style="display: flex;margin-bottom: 20px">
                    <el-button type="primary" plain @click="updateUserInfo">确认修改</el-button>
                </div>
            </div>
            <div style="margin-left: 50px" v-if="selectMenu==='1-2'" >
                <div style="height: 50px"></div>
                <el-upload
                        ref="upload"
                        action="/user/headUrl"
                        list-type="picture-card"
                        :auto-upload="false"
                        limit="1"
                        :disabled="disabled"
                        :on-change="handleFileChange">
                    <i slot="default" class="el-icon-plus"></i>
                    <div slot="file" slot-scope="{file}">
                        <img
                                class="el-upload-list__item-thumbnail"
                                :src="file.url" alt=""
                        >
                        <span class="el-upload-list__item-actions">
        <span
                class="el-upload-list__item-preview"
                @click="handlePictureCardPreview(file)"
        >
          <i class="el-icon-zoom-in"></i>
        </span>
        <span
                v-if="!disabled"
                class="el-upload-list__item-delete"
                @click="handleRemove(file)"
        >
          <i class="el-icon-delete"></i>
        </span>
      </span>
                    </div>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
                <el-button type="primary" plain @click="updateHeadUrl">确认修改</el-button>
            </div>
            <div style="margin-left: 50px" v-if="selectMenu==='1-3'">
                <div style="display: flex;margin-top: 50px;margin-bottom: 20px">
                    <div style="flex: 2;line-height: 40px">旧密码</div>
                    <div style="flex: 14">
                        <el-input
                                placeholder="请输入密码"
                                v-model="oldPassword"
                                show-password
                                clearable>
                        </el-input>
                    </div>
                </div>
                <div style="display: flex;margin-bottom: 20px">
                    <div style="flex: 2;line-height: 40px">新密码</div>
                    <div style="flex: 14">
                        <el-input
                                placeholder="请输入密码"
                                v-model="newPassword"
                                show-password
                                clearable>
                        </el-input>
                    </div>
                </div>
                <div style="display: flex;margin-bottom: 20px">
                    <div style="flex: 2;line-height: 40px">确认密码</div>
                    <div style="flex: 14">
                        <el-input
                                placeholder="请输入密码"
                                v-model="okPassword"
                                show-password
                                clearable>
                        </el-input>
                    </div>
                </div>
                <el-button type="primary" plain @click="updatePassword">确认修改</el-button>
            </div>
            <div style="margin-left: 50px" v-if="selectMenu==='2'">
                <el-empty :image-size="500" v-if="order.length===0"></el-empty>
                <el-card :body-style="{ padding: '0px',display: 'flex' }" v-for="(item,index) in order" key="index">
                    <div style="flex: 2">
                        <el-image :src="item.imageUrl" class="image" fit="cover"></el-image>
                    </div>
                    <div style="padding: 14px;flex: 4">
                        <a href="#"><h3 style="color: #2da1e7">{{item.name}}</h3></a>
                        <el-row>
                            <el-col :span="4" style="line-height: 44px">票价：</el-col>
                            <el-col :span="4">
                                <span class="orange">
                                     ¥<b style="font-size: 34px;margin: 0px 4px">{{item.price}}</b>
                                </span>
                            </el-col>
                            <el-col :span="15" push="10">
                                <el-tag v-if="item.status===0">待消费</el-tag>
                                <el-button type="primary" v-if="item.status===0" size="small" @click="quitTicket(item.id)">退票</el-button>
                                <el-tooltip class="item" effect="dark" content="点击评价" placement="top" v-else-if="item.status===1">
                                    <el-tag  type="danger" style="cursor: pointer" @click="evaluate(item)">待评价</el-tag>
                                </el-tooltip>
                                <el-tag v-else-if="item.status===2" type="success">已评价</el-tag>
                            </el-col>
                        </el-row>
                        <el-row style="margin-bottom: 8px">
                            <el-col :span="4">使用日期：</el-col>
                            <el-col :span="7">{{item.useDate}}</el-col>
                            <el-col :span="13"></el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="4">购票日期：</el-col>
                            <el-col :span="10">{{item.createTime}}</el-col>
                            <el-col :span="9"></el-col>
                        </el-row>
                    </div>
                </el-card>
            </div>
            <div style="margin-left: 50px" v-if="selectMenu==='3'">
                <el-table
                        ref="filterTable"
                        :data="strategy"
                        style="width: 100%">
                    <el-table-column
                            prop="createTime"
                            label="日期"
                            sortable
                            width="200"
                            column-key="date"
                    >
                        <template slot-scope="scope">
                            <i class="el-icon-time"></i>
                            <span style="margin-left: 10px">{{ scope.row.createTime }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="title"
                            label="标题"
                            width="700">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="handleView(scope.$index, scope.row)">查看</el-button>
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div style="margin-left: 50px" v-if="selectMenu==='4'">

            </div>
        </el-col>
    </el-row>

    <!--评价框-->
    <el-dialog
            title="订单评价"
            :visible.sync="orderEvaluateDialog"
            width="30%">
        <div style="display: flex;margin-bottom: 10px">
            <div style="flex: 1">评分：</div>
            <div style="flex: 4">
                <el-rate
                        v-model="score"
                        :colors="colors">
                </el-rate>
            </div>
        </div>
        <div style="display: flex">
            <div style="flex: 1">评价：</div>
            <div style="flex: 4">
                <el-input
                        type="textarea"
                        :autosize="{ minRows: 2, maxRows: 4}"
                        placeholder="请输入内容"
                        v-model="judgement">
                </el-input>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
    <el-button @click="orderEvaluateDialog = false,score=0,judgement=''">取 消</el-button>
    <el-button type="primary" @click="evaluationSubmit">确 定</el-button>
  </span>
    </el-dialog>

</div>
</body>
<script type="text/javascript" src="../js/setting.js"></script>
</html>