<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../icon/travel_icon.png" type="image/x-icon">
    <title>侠客行旅游网</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/element.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
    <link rel="stylesheet" href="../css/element.css">
    <link rel="stylesheet" href="../css/strategy.css">
</head>
<body>
<div id="page1">
    <el-container >
        <el-header>
            <el-row>
                <el-col :span="2"><div class="grid-content">
                    <el-image src="../icon/travel_icon.png" style="height: 70px"/>
                </div></el-col>
                <el-col :span="3"><div class="grid-content">
                    <h1 style="font-family: Hiragino Sans GB;font-size: 23px;font-style:italic;letter-spacing: 4px">侠客行旅游网</h1>
                </div></el-col>
                <el-col :span="9"><div class="grid-content"></div></el-col>
                <el-col :span="5"><div class="grid-content">
                    <el-input
                            placeholder="请输入攻略信息"
                            v-model="input"
                            clearable
                            style="width: 70%">
                    </el-input>
                    <el-button type="primary" icon="el-icon-search" style="padding: 12px 10px;" @click="search">搜索</el-button>
                </div></el-col>
                <el-col :span="5"></el-col>
                <div class="grid-content" style="float: right;margin-right: 70px;display:flex;">
                    <div style="font-size: 14px;color: #545c64;margin-right: 5px;width: 6em;overflow: hidden">
                        {{userToken.name}}</div>
                    <el-dropdown @command="handleCommand" v-if="isLogin" style="margin-top: 10px">
                        <el-avatar icon="el-icon-user-solid" style="float: left" :src="userToken.headUrl"></el-avatar>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="center" icon="el-icon-s-custom">个人中心</el-dropdown-item>
                            <el-dropdown-item command="message" icon="el-icon-chat-dot-square">
                                <el-badge :value="noRead" :max="99" class="item">
                                    回复
                                </el-badge>
                            </el-dropdown-item>
                            <el-dropdown-item command="logout" icon="el-icon-switch-button">退出</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <div  style="margin-bottom: 10px;" v-else>
                        <el-link type="primary" href="/site/login.html" :underline="false" style="margin-bottom: 30px">登录</el-link>
                        <el-link type="primary" href="/site/register.html" :underline="false" style="margin-bottom: 30px">注册</el-link>
                    </div>
                </div>
            </el-row>
        </el-header>

        <el-main >
            <el-menu
                    default-active="3"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item index="1" @click="selectMenu(1)" style="width: 20%;font-size: 17px">首页</el-menu-item>
                <el-menu-item index="2" @click="selectMenu(2)" style="width: 20%;font-size: 17px">旅游景点</el-menu-item>
                <el-menu-item index="3" @click="selectMenu(3)" style="width: 20%;font-size: 17px">出行攻略</el-menu-item>
                <el-menu-item index="5" @click="selectMenu(4)" style="width: 20%;font-size: 17px">旅游快讯</el-menu-item>
                <el-menu-item index="6" @click="selectMenu(5)" style="width: 20%;font-size: 17px">投诉建议</el-menu-item>
            </el-menu>
            <div class="scenery-box" >
                <el-card style="margin-top: 10px;border: 2px solid #DCDFE6;background-color: #d9ecff;" :body-style="{padding:'5px'}">
                    <div style="display: flex">
                        <div align="left" style="flex: 9;margin-top: 3px">
                            <span style="font-size: 14px;color: #909399;">景点：</span>
                            <el-select
                                    v-model="checkedScenery"
                                    filterable
                                    reserve-keyword
                                    size="small"
                                    placeholder="请输入关键词"
                                    clearable="true"
                                    @change="checkedSceneryFunction"
                                    >
                                <el-option
                                        v-for="item in scenery"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div style="flex: 1">
                            <el-tooltip content="发布攻略" placement="top">
                                <el-button type="primary" icon="el-icon-edit" circle style="float: right" @click="toEditor"></el-button>
                            </el-tooltip>
                        </div>
                    </div>
                </el-card>
                <!--<el-card style="margin-top: 10px;border: 2px solid #DCDFE6;background-color: #d9ecff" align="left" :body-style="{padding:'5px'}">
                     <span style="color: #909399; fontSize: 14px; marginLeft: 5px; cursor: default">推荐</span>
                     <span style="color: #909399; fontSize: 14px; marginLeft: 5px; cursor: default">最热</span>
                </el-card>-->
                <div class="scenery-indefinite">
                    <div class="infinite-list-wrapper" style="overflow: hidden;">
                        <ul
                                class="list"
                                v-infinite-scroll="load"
                                infinite-scroll-disabled="disabled"
                                infinite-scroll-distance="240"
                                infinite-scroll-immediate="false">
                            <li v-for="(item,index) in strategys " class="list-item" style="margin-top: 5px">
                                <div style="display: flex" class="straregy-box">
                                <div style="flex: 2"><el-skeleton style="width: 350px;" :loading="loading" animated>
                                    <template slot="template">
                                        <el-skeleton-item
                                                variant="image"
                                                style="width: 240px; height: 240px;"
                                        />
                                        <div style="padding: 14px;">
                                            <el-skeleton-item variant="h3" style="width: 50%;" />
                                            <div
                                                    style="display: flex; align-items: center; justify-items: space-between; margin-top: 16px; height: 16px;"
                                            >
                                                <el-skeleton-item variant="text" style="margin-right: 16px;" />
                                                <el-skeleton-item variant="text" style="width: 30%;" />
                                            </div>
                                        </div>
                                    </template>
                                    <template>
                                        <el-card :body-style="{ padding: '0px', marginBottom: '1px',height: '460px' }">
                                            <a :href="'/site/strategy-detail.html?id='+item[0].id">
                                                <el-image
                                                        :src="item[0].imageUrl"
                                                        style="height: 350px"
                                                        class="image"
                                                        fit="cover"
                                                ></el-image>
                                            </a>
                                            <div style="height: 53px;font-size: 16px;overflow: hidden;color: #606266;display: flex;">
                                                <div style="flex: 4;padding: 0px 10px;margin-top: 6px">{{item[0].title}}</div>
                                                <div style="flex: 1;">
                                                    <img :src="item[0].isLike?'../icon/love.png':'../icon/no_love.png'" @click="clickLike(item[0])">
                                                    <div style="font-size: 14px;line-height: 8px">{{item[0].likeNumber}}</div>
                                                </div>
                                            </div>
                                            <div style="background-color: #EBEEF5;height: 58px;display: flex">
                                                    <div style="flex: 1">
                                                        <el-avatar style="float: left;margin-top: 4px;margin-left: 10px" :src="item[0].headUrl" :size="50"></el-avatar>
                                                    </div>
                                                    <div style="flex: 3;">
                                                        <p style="font-size: 14px;color: #4299ce;margin-top: 18px;padding: 0px 15px;overflow: hidden;white-space: nowrap;width: 170px;text-overflow: ellipsis">{{item[0].name}}</p>
                                                    </div>
                                                    <div style="flex: 2">
                                                        <div class="time" style="margin-top: 18px">{{item[0].createTime}}</div>
                                                    </div>
                                            </div>
                                        </el-card>
                                    </template>
                                </el-skeleton></div>
                                <div style="flex: 2"><el-skeleton style="width: 350px;" :loading="loading" animated v-if="item.length>1">
                                    <template slot="template">
                                        <el-skeleton-item
                                                variant="image"
                                                style="width: 240px; height: 240px;"
                                        />
                                        <div style="padding: 14px;">
                                            <el-skeleton-item variant="h3" style="width: 50%;" />
                                            <div
                                                    style="display: flex; align-items: center; justify-items: space-between; margin-top: 16px; height: 16px;"
                                            >
                                                <el-skeleton-item variant="text" style="margin-right: 16px;" />
                                                <el-skeleton-item variant="text" style="width: 30%;" />
                                            </div>
                                        </div>
                                    </template>
                                    <template>
                                        <el-card :body-style="{ padding: '0px', marginBottom: '1px',height: '460px' }">
                                            <a :href="'/site/strategy-detail.html?id='+item[1].id">
                                                <el-image
                                                        :src="item[1].imageUrl"
                                                        class="image"
                                                        style="height: 350px"
                                                        fit="cover"
                                                ></el-image>
                                            </a>
                                            <div style="height: 53px;font-size: 16px;overflow: hidden;color: #606266;display: flex;">
                                                <div style="flex: 4;padding: 0px 10px;margin-top: 6px">{{item[1].title}}</div>
                                                <div style="flex: 1;">
                                                    <img :src="item[1].isLike?'../icon/love.png':'../icon/no_love.png'" @click="clickLike(item[1])">
                                                    <div style="font-size: 14px;line-height: 8px">{{item[1].likeNumber}}</div>
                                                </div>
                                            </div>
                                            <div style="background-color: #EBEEF5;height: 58px;display: flex">
                                                    <div style="flex: 1">
                                                        <el-avatar style="float: left;margin-top: 4px;margin-left: 10px" :src="item[1].headUrl" :size="50"></el-avatar>
                                                    </div>
                                                    <div style="flex: 3;">
                                                        <p style="font-size: 14px;color: #4299ce;margin-top: 18px;padding: 0px 15px;overflow: hidden;white-space: nowrap;width: 170px;text-overflow: ellipsis">{{item[1].name}}</p>
                                                    </div>
                                                    <div style="flex: 2">
                                                        <div class="time" style="margin-top: 18px">{{item[1].createTime}}</div>
                                                    </div>
                                            </div>
                                        </el-card>
                                    </template>
                                </el-skeleton></div>
                                <div style="flex: 2"><el-skeleton style="width: 350px;" :loading="loading" animated v-if="item.length>2">
                                    <template slot="template">
                                        <el-skeleton-item
                                                variant="image"
                                                style="width: 240px; height: 240px;"
                                        />
                                        <div style="padding: 14px;">
                                            <el-skeleton-item variant="h3" style="width: 50%;" />
                                            <div
                                                    style="display: flex; align-items: center; justify-items: space-between; margin-top: 16px; height: 16px;"
                                            >
                                                <el-skeleton-item variant="text" style="margin-right: 16px;" />
                                                <el-skeleton-item variant="text" style="width: 30%;" />
                                            </div>
                                        </div>
                                    </template>
                                    <template>
                                        <el-card :body-style="{ padding: '0px', marginBottom: '1px',height: '460px' }">
                                            <a :href="'/site/strategy-detail.html?id='+item[2].id">
                                                <el-image
                                                        :src="item[2].imageUrl"
                                                        class="image"
                                                        style="height: 350px"
                                                        fit="cover"
                                                ></el-image>
                                            </a>
                                            <div style="height: 53px;font-size: 16px;overflow: hidden;color: #606266;display: flex;">
                                                <div style="flex: 4;padding: 0px 10px;margin-top: 6px">{{item[2].title}}</div>
                                                <div style="flex: 1;">
                                                    <img :src="item[2].isLike?'../icon/love.png':'../icon/no_love.png'" @click="clickLike(item[2])">
                                                    <div style="font-size: 14px;line-height: 8px;">{{item[2].likeNumber}}</div>
                                                </div>
                                            </div>
                                            <div style="background-color: #EBEEF5;height: 58px;display: flex">
                                                    <div style="flex: 1">
                                                        <el-avatar style="float: left;margin-top: 4px;margin-left: 10px" :src="item[2].headUrl" :size="50"></el-avatar>
                                                    </div>
                                                    <div style="flex: 3;">
                                                        <p style="font-size: 14px;color: #4299ce;margin-top: 18px;padding: 0px 15px;overflow: hidden;white-space: nowrap;width: 170px;text-overflow: ellipsis">{{item[2].name}}</p>
                                                    </div>
                                                    <div style="flex: 2">
                                                        <div class="time" style="margin-top: 18px">{{ item[2].createTime}}</div>
                                                    </div>
                                            </div>
                                        </el-card>
                                    </template>
                                </el-skeleton></div>
                                </div>
                            </li>
                        </ul>
                        <p v-if="listLoading">加载中...</p>
                        <p v-if="noMore">没有更多了</p>
                    </div>
                </div>
            </div>
        </el-main>
        <el-drawer
                title="消息中心"
                :visible.sync="drawer"
                direction="ltr"
                size="40%">
            <el-table
                    :data="suggestions"
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="序号"
                        width="80"
                ></el-table-column>
                <el-table-column
                        prop="title"
                        label="标题"
                        width="200"
                ></el-table-column>

                <el-table-column
                        prop="reply.status"
                        label="状态"
                        width="80"
                        sortable
                >
                    <template slot-scope="scope">
                        <el-tag :type="scope.row.reply.status  ? 'success' : 'danger'" disable-transitions>
                            {{scope.row.reply.status ? '已读' : '未读' }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="投诉时间"
                        width="180"
                        sortable
                ></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-popover
                                ref="popover"
                                placement="right"
                                width="600"
                                trigger="click">
                            <el-descriptions class="margin-top" title="投诉详情" :column="3" :size="size" border>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-user"></i>
                                        用户名
                                    </template>
                                    {{checkedSuggestion.name}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-mobile-phone"></i>
                                        手机号
                                    </template>
                                    {{checkedSuggestion.phone}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        类型
                                    </template>
                                    <el-tag :type="checkedSuggestion.type  ? 'success' : 'danger'" disable-transitions>
                                        {{checkedSuggestion.type ? '建议' : '投诉' }}
                                    </el-tag>
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-tickets"></i>
                                        {{(checkedSuggestion.type ? '建议' : '投诉')+'事项'}}
                                    </template>
                                    {{checkedSuggestion.options}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        状态
                                    </template>
                                    <el-tag :type="checkedSuggestion.status  ? 'success' : 'danger'" disable-transitions>
                                        {{checkedSuggestion.status ? '已处理' : '未处理' }}
                                    </el-tag>
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        投诉时间
                                    </template>
                                    {{checkedSuggestion.createTime}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-chat-dot-square"></i>
                                        {{(checkedSuggestion.type ? '建议' : '投诉')+'内容'}}
                                    </template>
                                    {{checkedSuggestion.content}}
                                </el-descriptions-item>
                            </el-descriptions>
                            <el-descriptions class="margin-top" title="回复信息" :column="1" :size="size" v-if="checkedSuggestion.reply!=null" border>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-chat-dot-square"></i>
                                        回复内容
                                    </template>
                                    {{checkedSuggestion.reply.content}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        回复时间
                                    </template>
                                    {{checkedSuggestion.reply.createTime}}
                                </el-descriptions-item>
                            </el-descriptions>
                            <el-button
                                    size="mini"
                                    type="primary"
                                    plain
                                    slot="reference"
                                    @click="viewReply(scope.$index, scope.row )">查看</el-button>
                        </el-popover>

                    </template>
                </el-table-column>
            </el-table>
        </el-drawer>
    </el-container>
</div>
</body>
<script type="text/javascript" src="../js/strategy.js"></script>
</html>